
<body>
	<header>
		<nav class="nav1">
			<a href="#">About me</a>
			<a href="#">Technologies</a>
			<a href="#">Projects</a>
		</nav>
		<div class="logo">
			<img src="../../../../assets/images/logo_bruno.png" alt="Bruno" title="Bruno Ortiz" />
		</div>
		<nav class="nav2">
			<a href="https://www.youtube.com/channel/UCqTH1ypl_1sRCqthP1bZNng" target="_blank"><fa-icon [icon]="faYoutube" title="Youtube"></fa-icon></a>
			<a href="https://www.linkedin.com/in/baov1995/" target="_blank"><fa-icon [icon]="faLinkedin" title="Linkedin"></fa-icon></a>
			<a href="https://github.com/vafasca" target="_blank"><fa-icon [icon]="faGithub" title="Github"></fa-icon></a>
		</nav>
	</header>
	<div class="name">
		<span>BRUNO ALEJANDRO ORTIZ VELASQUEZ</span>
	</div>
</body>

