<header>
    <div class="container">
      <div class="logo">
        <img src="tu-logo.png" alt="tu-logo" />
      </div>
      <nav>
        <ul>
          <li><a href="#">Enlace 1</a></li>
          <li><a href="#">Enlace 2</a></li>
          <li><a href="#">Enlace 3</a></li>
        </ul>
      </nav>
      <div class="social">
        <a href="#">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <div class="menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </header>
  