/* Estilos para el encabezado */
header {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	font-size: 18px;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	opacity: 0.5;
}

.logo {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	flex-grow: 1;
}
.logo img {
    max-height: 100px;
  }


nav {
	display: flex;
	align-items: center;
}

nav a {
	color: #000000;
	text-decoration: none;
	margin: 0 10px;
}

nav a:hover {
	border-bottom: 2px solid black;
}

.name {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	text-transform: uppercase;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
	header {
		flex-direction: column;
		align-items: stretch;
		text-align: center;
	}
	
	nav {
		order: 3;
		margin-top: 10px;
	}
	
	.logo {
		order: 2;
		margin-bottom: 10px;
	}
	
	.name {
		font-size: 20px;
		margin-top: 10px;
	}
}
