
<body>
	<header>
		<nav>
			<a href="#">Acerca de mi</a>
			<a href="#">Tecnologias</a>
			<a href="#">Proyectos</a>
		</nav>
		<div class="logo">
			<img src="../../../../assets/images/logo_bruno.png" alt="Bruno" title="Bruno Ortiz" />
		</div>
		<nav>
			<a href="https://www.youtube.com/channel/UCqTH1ypl_1sRCqthP1bZNng" target="_blank"><fa-icon [icon]="faYoutube"></fa-icon></a>
			<a href="https://www.linkedin.com/in/baov1995/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
			<a href="https://github.com/vafasca" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
		</nav>
	</header>
	<div class="name">
		<span>BRUNO ALEJANDRO ORTIZ VELASQUEZ</span>
	</div>
</body>

