<div class="solar-system">
  <img src="../../../assets/images/me2.png" alt="Sol" class="sun">
  <div class="mercury">
    <div class="card">
      <h2>Sercicios</h2>
      <p>Frontend Developer: Angular 12</p>
      <p>Backend Developer: Java Spring Boot, NodeJs</p>
    </div>
  </div>
  <div class="venus">
    <div class="card">
      <h2>Estudios</h2>
      <p>Lic. Ingenieria de Sistemas</p>
      <p>Universidad Mayor de San Simon</p>
    </div>
  </div>
  <div class="earth">
    <div class="card">
      <h2>A cerca de mi</h2>
      <p>Soy ingeniero de sistemas y apasionado por la tecnología. Me encanta encontrar soluciones innovadoras y creativas a los desafíos que se presentan en mi trabajo</p>
    </div>
  </div>
  <div class="mars">
    <div class="card">
      <h2>Contacto</h2>
      <p>email: baov1995@gmail.com</p>
      <p>cel: +591 62730995</p>
    </div>
  </div>
  </div>
