<div class="solar-system">
  <img src="../../../assets/images/me2.png" alt="me" class="me">
  <div class="servicios">
    <div class="card">
      <h2>Services</h2>
      <p>Frontend Developer: Angular 12</p>
      <p>Backend Developer: Java Spring Boot, NodeJs</p>
    </div>
  </div>
  <div class="estudios">
    <div class="card">
      <h2>Studies</h2>
      <p>Lic. Ingenieria de Sistemas</p>
      <p>Universidad Mayor de San Simon</p>
    </div>
  </div>
  <div class="aboutme">
    <div class="card">
      <h2>About me</h2>
      <p>Soy ingeniero de sistemas y apasionado por la tecnología. Me encanta encontrar soluciones innovadoras y creativas a los desafíos que se presentan en mi trabajo</p>
    </div>
  </div>
  <div class="contacto">
    <div class="card">
      <h2>Contact</h2>
      <p>Lic. Ingenieria de Sistemas</p>
      <p>Universidad Mayor de San Simon</p>
    </div>
  </div>
  </div>
