<div class="carousel">
<span class="titulo">
  <p>Tecnologias</p>
</span>
    <div class="carousel-container">
      <div class="icon">
        <img src="../../../assets/images/icono1.png" alt="Spring Boot" title="Spring Boot">
      </div>
      <div class="icon">
        <img src="../../../assets/images/icono2.png" alt="JavaScript" title="JavaScript">
      </div>
      <div class="icon">
        <img src="../../../assets/images/icono3.png" alt="HTML" title="HTML">
      </div>
      <div class="icon">
        <img src="../../../assets/images/icono4.png" alt="CSS" title="CSS">
      </div>
      <div class="icon">
        <img src="../../../assets/images/icono5.png" alt="NodeJS" title="NodeJS">
      </div>
      <div class="icon">
        <img src="../../../assets/images/icono6.png" alt="Github" title="Github">
      </div>
      <div class="icon">
        <img src="../../../assets/images/icono7.png" alt="Tailwind" title="Tailwind">
      </div>
      <div class="icon">
        <img src="../../../assets/images/icono8.png" alt="Angular Material" title="Angular Material">
      </div>
      <div class="icon">
        <img src="../../../assets/images/icono9.png" alt="MySQL" title="MySQL">
      </div>
      <div class="icon">
        <img src="../../../assets/images/icono10.png" alt="MongoDB" title="MongoDB">
      </div>
    </div>
  </div>
  