main{
  display: flex;
  flex-direction: column;
}

app-about{
  background-image: url('../../../assets/images/fondoaa.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex: 1;
}

header{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(9, 118, 212);
  background-image: url('../../../assets/images/fondoaa2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
app-header{
  flex: 1;
}
footer{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: red;
}
app-footer{
  flex: 1;
}

