section.projects{
    /*background-color: blue;  o background-image: url('ruta/de/la/imagen.jpg') 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }