<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{listaProyectos.titulo}}</mat-card-title>
      <mat-card-subtitle>{{listaProyectos.subtitulo}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ngb-carousel >
        <ng-template ngbSlide *ngFor="let item of listaProyectos.url; let i = index">
          <div class="picsum-img-wrapper" style="width: 400px; height: 500px;">
            <img [lazyLoad]="item" [useSrcset]="true" [defaultImage]="defaultImage" alt="Random first slide" style="width: 100%; height: 100%;" />
          </div>
          <div class="carousel-caption">
            <h3>Slide {{i+1}}</h3>
            <p>{{listaProyectos.description}} {{i+1}}</p>
          </div>
        </ng-template>
        <!-- <ng-template ngbSlide>
          <div class="picsum-img-wrapper" style="width: 366px; height: 500px;">
            <img [lazyLoad]='listaProyectos.url[1]' [useSrcset]="true" [defaultImage]="defaultImage" alt="Random second slide" style="width: 100%; height: 100%;" />
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" style="width: 366px; height: 500px;">
            <img [lazyLoad]="listaProyectos.url[0]" [useSrcset]="true" [defaultImage]="defaultImage" alt="Random third slide" style="width: 100%; height: 100%;" />
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template> -->
      </ngb-carousel>
    </mat-card-content>
  </mat-card>
  