<div class="card">
    <div class="card-header">
      <h4>Titulo de la tarjeta principal</h4>
    </div>
    <div class="card-body">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card" style="width: 250px; height: 180px;">
              <div class="card-header">
                <h5 class="card-title">Card 1</h5>
              </div>
              <img class="card-img-top" src="https://via.placeholder.com/250x150" alt="Card image cap">
              <div class="card-body">
                <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada turpis eu erat elementum, a laoreet justo lobortis. Duis quis dolor in nisl semper porttitor eget et velit.</p>
                <a href="#" class="btn btn-primary">Button</a> -->
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card" style="width: 250px; height: 180px;">
              <div class="card-header">
                <h5 class="card-title">Card 2</h5>
              </div>
              <img class="card-img-top" src="https://via.placeholder.com/250x150" alt="Card image cap">
              <div class="card-body">
                <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada turpis eu erat elementum, a laoreet justo lobortis. Duis quis dolor in nisl semper porttitor eget et velit.</p>
                <a href="#" class="btn btn-primary">Button</a> -->
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card" style="width: 250px; height: 180px;">
              <div class="card-header">
                <h5 class="card-title">Card 3</h5>
              </div>
              <img class="card-img-top" src="https://via.placeholder.com/250x150" alt="Card image cap">
              <div class="card-body">
                <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada turpis eu erat elementum, a laoreet justo lobortis. Duis quis dolor in nisl semper porttitor eget et velit.</p>
                <a href="#" class="btn btn-primary">Button</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
  