@import '~swiper/swiper-bundle.min.css';
.card {
    width: 400px;
    height: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center; /* Agregado para centrar contenido dentro del card */
    position: relative;
  }
  
  .card-header {
    background-color: #f2f2f2;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
  }
  
  .swiper-container {
    height: 60%;
    margin: auto;
    max-width: 400px;
    overflow: hidden; /* oculta el contenido que se sale del swiper */
  }
  
  .swiper-slide {
    text-align: center;
  }
  
  .card-title {
    margin: 0;
  }
  